doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Dashboard
    link(rel="stylesheet", href="./css/style.css")
  body
    include header.pug
    main 
      section
        form#createEvent(action='/created', method='post')
          input(type='text', name='event_name', placeholder='Nombre del Evento')
          input(type='text', name='description', placeholder='Descripcion')
          input(type='text', name='date_start', placeholder='Fecha de Inicio')
          input(type='text', name='date_end', placeholder='Fecha de Fin')
          input(type='text', name='poster', placeholder='Url Imagen')
          input(type='url', name='url', placeholder='Url Web')
          input(type='submit')

      section#searched_container
        section#all_events_container
          each event in events
            article
              p Evento: #{event.event_name}
              p Descripción: #{event.description}
              p Fecha inicio: #{event.date_start}
              a.button(href=event.url target="_blank") Enlace    
              img(src=event.poster, alt=event.event_name width="300")
    include footer.pug
    script(src="/js/script.js")
    