doctype html
html(lang="es")
   head
      title Favorites
      link(rel="stylesheet", href="/css/style.css")
   body
        != header
        main
            h1 Future Fests
            section
                h3 Los favoritos del usuario
            section#all_events_container
                each result in results
                    article.event-card
                        p.event-name Evento: #{result.event_name}
                        p.event-description Descripción: #{result.description}
                        -const fecha = new Date (result.date_start)
                        p.event-date Fecha inicio: #{fecha.toDateString()}
                        a.button(href=result.url target="_blank") Enlace
                        button.buttonDeleteFavorite(id=`${result.event_name}`) Eliminar
                        div.event-card
                            img(src=result.poster, alt=result.event_name)
        include footer.pug
        script(src="/js/favorites.js")