doctype html
html(lang="es")
   head
      title Future Fests
      link(rel="stylesheet", href="/css/style.css")
   body
        != header
        main
            h1 Future Fests
            section
                h3 Los últimos eventos tecnológicos
            section
                input#filterInput(type='text')
                button#filterButton Filtrar/Restablecer
            section#all_events_container
                each event in events
                    article
                        button.buttonFavorite(id=`${event.event_name}`) Favorito 
                        p Evento: #{event.event_name}
                        p Descripción: #{event.description}
                        -const fecha = new Date (event.date_start)
                        p Fecha inicio: #{fecha.toDateString()}
                        a(href=event.url target="_blank")
                            button.button + info    
                        img(src=event.poster, alt=event.event_name width="300")
        include footer.pug
        script(src="/js/script.js")