doctype html
html(lang="es")
   head
      title Users
      link(rel="stylesheet", href="/css/style.css")
   body
        include header.pug
        main
            h1 Future Fests
            section
                h3 Todos los usuarios
            section#all_users_container
                each user in users
                    article
                        p Email: #{user.email}
                        p Nombre: #{user.first_name}
                        p Apellido: #{user.last_name}
                        p Role: #{user.role_name}
                        p Active: #{user.is_active}
                        a.button(href='/' target="_blank") Editar 
                        br
        include footer.pug
        script(src="/js/script.js")