doctype html
html(lang="es")
   head
      title Users
      link(rel="stylesheet", href="/css/style.css")
   body
        != header
        main
            h1 Future Fests
            section
                h3 Todos los usuarios
            section#all_users_container
                each user in users
                    article.event-card
                        p.event-name Email: #{user.email}
                        p.event-name Nombre: #{user.first_name}
                        p.event-name Apellido: #{user.last_name}
                        p Role: #{user.role_name}
                        p Active: #{user.is_active}
                        a.button(href='/') Editar 
                        br
        include footer.pug
        script(src="/js/script.js")